// Functions

var activateOrmcordion = function() {
  $('.current')[0].scrollIntoView();

  // maccordion-view of queries, https://github.com/Dattaya/Maccordion
  $('#ormcordion').bind('maccordionactivate', function(event, data) {
    if (event.shiftKey) {
      var toggledItemName = data.toggled.text(),
          line = parseInt(toggledItemName.substring('Line '.length));
      rubyCall('present_line_in_document', line);
    }
  });
};

// how to use build_table:
//
// var names = [ "a", "b", "c"];
// var rows = [ [ 1, 2, 3 ], [1,2,3] ];
// $('#ormcordion').append(build_table(names, rows));
//
var build_table = function(column_names, rows) {
  table = $("<table><tbody><tr>");

  // build column name header
  var tr = table.find("tr");
  $(column_names).each(function(index, name) {
    tr.append("<th>" + name + "</th>");
  });

  // build rows
  $(rows).each(function(index, row_cells) {
    var tr = table.find("tbody").append("<tr>");

    $(row_cells).each(function(cell) {
      tr.append("<td>" + cell + "</td>");
    });
  })

  return table;
}

var build_query_entry = function(line_number, class, orm_prediction) {
  $('#ormcordion').append(
      "<h3 class=\"" + class + "\">Line" + line_number + ": " + orm_prediction.model + "</h3>"  );

  var id = "line" + line_number;
  var statement = $("<div class=\"statement\" id=\"" + id + "\"></div>");

  statement.html(
    orm_prediction.query + "<br>(" + orm_prediction.rows + " rows)");

  $('#ormcordion').append(statement);
  $('#ormcordion').append(build_table(orm_prediction.column_names, orm_prediction.rows));

}

// Data

$('#ormcordion').html("");

var column_names = JSON.parse("<%= column_names.to_s %>");
var rows = JSON.parse("<%= rows %>");
//$('#ormcordion').append(build_table(column_names, rows));

var predictions =
  [ 1, {
    model: 'Post',
    query: "Select * from Posts",
    rows: 10,
    column_names: ["a", "b", "c" ],
    rows: [ [1,2,3], [4,5,6] ]
  } ];

build_query_entry(predictions[0], null, predictions[1]);

$('#ormcordion').maccordion({
  collapsible: true,
  active: <%= 0 || active_panel_index%>
});

activateOrmcordion();
