// Functions

var activateOrmcordion = function() {
  $('.current')[0].scrollIntoView();

  // maccordion-view of queries, https://github.com/Dattaya/Maccordion
  $('#ormcordion').bind('maccordionactivate', function(event, data) {
    if (event.shiftKey) {
      var toggledItemName = data.toggled.text(),
          line = parseInt(toggledItemName.substring('Line '.length));
      rubyCall('present_line_in_document', line);
    }
  });
};

// how to use build_table:
//
// var names = [ "a", "b", "c"];
// var rows = [ [ 1, 2, 3 ], [1,2,3] ];
// $('#ormcordion').append(build_table(names, rows));
//
var build_table = function(column_names, rows) {
  table = $("<table><tbody><tr>");

  // build column name header
  var tr = table.find("tr");
  $(column_names).each(function(index, name) {
    tr.append("<th>" + name + "</th>");
  });

  // build rows
  $(rows).each(function(index, row_cells) {
    var tr = table.find("tbody").append("<tr>");

    $(row_cells).each(function(cell) {
      tr.append("<td>" + cell + "</td>");
    });
  })

  return table;
}

var build_query_entry = function(prediction) {
  $('#ormcordion').append(
      "<h3 class=\"" + prediction.css_class + "\">Line " + prediction.line_number + ": " + prediction.model + "</h3>"  );

  var id = "line" + prediction.line_number;
  var statement = $("<div class=\"statement\" id=\"" + id + "\"></div>");

  statement.html(
    prediction.query + "<br>(" + prediction.rows.length + " rows)"
  );

  statement.append(build_table(prediction.column_names, prediction.rows));

  $('#ormcordion').append(statement);
}

// Data

$('#ormcordion').html("");

// $('#ormcordion').append(build_table(column_names, rows));

var predictions = JSON.parse("<%= predictions %>");

// var predictions =
//   [
//     {
//       line_number: 10,
//       css_class: 'current',
//       model: 'Post',
//       query: "Select * from Posts",
//       rows: 10,
//       column_names: ["a", "b", "c" ],
//       rows: [ [1,2,3], [4,5,6] ]
//     }
//   ];

$(predictions).each(function(index, prediction) {
  build_query_entry(prediction);
});

if(predictions.length > 0) {
  $('#ormcordion').maccordion({
    collapsible: true,
    active: <%= active_panel_index %>
  });

  activateOrmcordion();
}
